{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated and current_user.isSeller %}
<h6>Feedback Received:</h6>

{% elif current_user.is_authenticated %}
<h6>Your Feedbacks:</h6>

<a class="btn btn-secondary" href="{{ url_for('users.add_feedback', isseller='Yes',pid = None, channel = 'feedback') }}" role="button">Add Your Seller Feedback</a>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Seller Name</th>
        <th scope="col">Rating</th>
        <th scope="col">Review</th>
        <th scope="col">Upvote</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% if seller_feedbacks %}
      {% for feedback in seller_feedbacks %}
        <tr>
          <th scope="row">{{feedback.seller_name}}</th>
          <td>{{feedback.rating}}</td>
          <td>{{feedback.review}}</td>
          <td>{{feedback.upvotes}}</td>
          <td>{{feedback.time_feedback}}</td>
          <td> <a class="btn btn-secondary" 
            href="{{ url_for('users.edit_feedback',feedback_id = feedback.id, isseller = 'Yes', channel = 'feedback') }}" 
            role="button">Update feedback</a>
          </td>
        </tr>
      {% endfor %}
      {% endif %}
    <tr>
    </tr>
    
    </tbody>
</table>

<a class="btn btn-secondary" href="{{ url_for('users.add_feedback', isseller='No',pid = None, channel = 'feedback') }}" role="button">Add Your Product Feedback</a>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Rating</th>
        <th scope="col">Review</th>
        <th scope="col">Upvote</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% if product_feedbacks %}
      {% for feedback in product_feedbacks %}
        <tr>
          <th scope="row">{{feedback.product_name}}</th>
          <td>{{feedback.rating}}</td>
          <td>{{feedback.review}}</td>
          <td>{{feedback.upvotes}}</td>
          <td>{{feedback.time_feedback}}</td>
          <td> <a class="btn btn-secondary" 
            href="{{ url_for('users.edit_feedback',feedback_id = feedback.id, isseller = 'No', channel = 'feedback') }}" 
            role="button">Update feedback</a>
          </td>

        </tr>
      {% endfor %}
      {% endif %}
    </tbody>
</table>

{%else%}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your feedback!</p>

{% endif %}

{% endblock %}
