{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated and current_user.isSeller %}
<h3>Your Inventory:</h3>

<br><br>

<a class="btn btn-secondary" href="{{ url_for('users.addinventory') }}" role="button">Add Inventory</a>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Category</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.category}}</th>
        <td>{{purchase.name}}</td>
        <td>{{purchase.price}}</td>
        <td>{{purchase.quantity}}</td>
        <td>{{purchase.release_date}}</td>
        <td> <a class="btn btn-secondary" 
          href="{{ url_for('users.update_inventory',iid = purchase.id) }}" 
          role="button">Update Inventory</a>

        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% elif current_user.is_authenticated and not current_user.isSeller %}
<h6>Your Recent Purchases: <a class="btn btn-secondary" href="{{ url_for('users.search') }}" role="button">Advance Search</a></h6>

<br><br>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Category</th>
      <th scope="col">Product Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Order Detail</th>
      <th scope="col">Review</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
      	<th scope="row">{{purchase.podcat}}</th>
        <td>{{purchase.prodname}}</td>
        <td>{{purchase.price}}</td>
        <td>{{purchase.quantity}}</td>
        <td>{{purchase.time_purchased}}</td>
        <td><a class="btn btn-secondary" 
            href="{{ url_for('users.view_order',oid = purchase.id) }}" 
            role="button">View Order Detail</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{%else%}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>

{% endif %}

{% endblock %}
