{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Available</th>
      <th scope="col">Category</th>
      <th scope="col">Average Rating</th>
      <th scope="col">Count Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.available}}</td>
        <td>{{product.category}}</td>
        {% if product.cnt_rating > 0 and product.avg_rating >= 0 %}
        <td>{{product.avg_rating}}</td>
        <td>{{product.cnt_rating}}</td>
        {% else %}
        <td>No Rating</td>
        <td>No Rating</td>
        {% endif %}

      </tr>
    {% endfor %}
  </tbody>
</table>

{% if not current_user.is_authenticated %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your history!</p>
{% endif %}
{% endblock %}
