{% extends "base.html" %}

{% block content %}

<br><br>

<h3>My Account:</h3>
<br>
<body>
  <p>
    Account Number: {{accountnum}}
  </p>
  <p>
    First Name: {{firstname}}
  </p>
  <p>
    Last Name: {{lastname}}
  </p>
  <p>
    Email: {{email}}
  </p>
  <p>
    Address: {{address}}
  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
</body>
<a class="btn btn-secondary" href="{{ url_for('users.edit_info') }}" role="button">Edit</a>
<a class="btn btn-secondary" href="{{ url_for('users.change_password') }}" role="button">Change Password</a>
{% endblock %}
