{% extends "base.html" %}
{% block content %}

<h1>Your Inventory and Order Analytics:</h1>
<br>
<h3> Search Low Inventory </h3>
<a class="btn btn-secondary" href="{{ url_for('users.low_inventory') }}" role="button">Search</a>
<h3>Your Top Products </h3>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Number of buyers</th>
      <th scope="col">Total Quantity Sold</th>

    </tr>
  </thead>
  <tbody>
    {% for p in top_prods %}
      <tr>
        <th scope="row">{{p[0]}}</th>
        <th scope="row">{{p[1]}}</th>
        <th scope="row">{{p[2]}}</th>
      </tr>
    {% endfor %}
  </tbody>
</table>
<h3>Order Popularity Trend </h3>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.prdoname.label }}<br/>
      {{ form.prdoname(size=1) }}<br/>
      <p>{{ form.submit() }}</p>
    </p>
    <p>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </p>
    <a class="btn btn-secondary" href="{{ url_for('users.prod_viz',prodname = name) }}" role="button">Go</a>
  </form>
  <h3> Your Ratings </h3> <br>
  Your are reviewed by {{rating_summary[1]}} users 
  <br>Your average rating is {{rating_summary[0]}}
  <br> In terms of average rating, You ranked {{rating_summary[2]}} among all the sellers(top {{ rank}}%)
  <br>
  {% if rank < 10 %}
  <h3>Congratulations!</h3>
  {% endif %}
  <br>
  <a class="btn btn-secondary" href="{{ url_for('index.index') }}" role="button">Return to Homepage</a>
{% endblock %}