{% extends "base.html" %}

{% block content %}

<h3>Filter Your Balance History</h3>

<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.category.label }}
    {{ form.category(size=2) }}<br/>
    {% for error in form.category.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.value_l.label }}
    {{ form.value_l(size=32) }}<br/>

    {{ form.value_h.label }}
    {{ form.value_h(size=32) }}<br/>
  </p>
  <p>
    {{ form.date_l.label }}
    {{ form.date_l(size=32) }}<br/>

    {{ form.date_h.label }}
    {{ form.date_h(size=32) }}<br/>
  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
<a class="btn btn-secondary" href="{{ url_for('users.view_balance') }}" role="button">Cancel</a>
{% endblock %}
