{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Order Details:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Category</th>
      <th scope="col">Seller</th>
      <th scope="col">Review Seller</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
      <th scope="col">Shipping Address</th>
      <th scope="col">Order Fulfillment Status</th>
      <th scope="col">Order Fulfillment Time</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(order_detail|length) %}
    <th scope="row">{{order_detail[i].prodname}}</th>
    <td>{{order_detail[i].podcat}}</td>
    <td>{{seller_info}}</td>
    <td>{% if not current_user.isSeller %}
     {% if purchased[i] %}
     {% if reviewed[i] %}
    <a class="btn btn-secondary" 
      href="{{ url_for('users.edit_feedback',sid = order_detail[i].sid, feedback_id = feedbacks[i], isseller = 'Yes', channel = 'order_detail', oid = order_detail[i].order_id) }}" 
      role="button">Update feedback</a>
     {% else %}
     <a class="btn btn-secondary" 
      href="{{ url_for('users.add_feedback', isseller = 'Yes', channel = 'order_detail', oid = order_detail[i].order_id, sid = order_detail[i].sid) }}" 
      role="button">Add feedback </a>
     {% endif %}
     {% else %}
     You cannot review this seller for now. Feedbacks can be leaved after purchasing.
     {% endif %}
    {% else %}
    Only buyers can leave reviews here.
    {% endif %}</td>
    <td>{{order_detail[i].price}}</td>
    <td>{{order_detail[i].quantity}}</td>
    <td>{{order_detail[i].total}}</td>
    <td>{{order_detail[i].address}}</td>
    <td>{{order_detail[i].order_status}}</td>
    <td>{{order_detail[i].fulfill_date}}</td>
    {% endfor %}
  </tbody>
</table>

{% if not current_user.is_authenticated %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your history!</p>
{% endif %}
{% endblock %}
